fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
pydantic-settings
redis
fastapi-cache2
cryptography
pytz
opencv-python-headless
ultralytics
numpy
yt-dlp
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
